*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    background-color: gray;
    font-size: 14px;
    font-family: Lato, sans-serif; 
}

.site {
    max-width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
}

.comments{
    display: flex;
    flex: 1 1 30%;
}

header {
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
}

header>p{
    color: gray;
    padding-top: 0.5em;
}

.item {
    padding: 2em;
}

footer {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    color: gray;
    font-style: italic;
    font-size: small;
}

.three-columns> header p::after,
.three-columns> footer p::before{
    display: block;
    content: '';
    background-color: red;
    width: 5em;
    margin: 2em;
    margin: 2em, auto;
}